body {
  font-family: 'Rosario', sans-serif;
  background-color: #D0E1D4;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  color: #AE76A6;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
  background: none;
  background-color: #2ecc71;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-4 {
	border-radius: 50px;
	border: 3px solid #fff;
	color: #fff;
	overflow: hidden;
}

.btn-4:active {
	border-color: #17954c;
	color: #17954c;
}

.btn-4:hover {
	background: #24b662;
}

.btn-4:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-4:active:before {
	color: #17954c;
}



/* Button 4d */
.btn-4d:before {
	left: 30%;
	opacity: 0;
	top: 0;
}

.btn-4d:hover:before {
	left: 10%;
	opacity: 1;
}

input[type="radio"] {
	opacity: 0;
	width: 0;
  height: 0;
}

input[type='radio'] ~ label {
  padding: 5px;
  border: 1px solid #0d3b66;
  color: #0d3b66;
  font-size: 20px;
  background-color: white;
  transition: all .3s ease-in-out;
  box-sizing: content-box;
}
input[type="radio"]:active ~ label {
  opacity: 1;

}

input[type="radio"]:checked ~ label,input[type="radio"]:hover ~ label {
  opacity: 1;
  border: 3px solid #0d3b66;
  padding: 3px;
}

.radio-holder {
  display: inline-block;
  font-family: 'Spicy Rice', cursive;
  margin-top: 12px;

}

.survey-question {
  margin-bottom: 5px;
}

.question-slider {
  overflow-x: hidden;
  overflow-y: visible;
  width: 700px;
  min-height: 700px;
  position: relative;
  margin: 0 auto;
}

.question-group {
  left: 700px;
}

.name-email-group {
  left: 0px;
}

.missing {
  border: 1px solid red;
}

.results-group {
  left: 700px;
}
.slide-group {
  text-align: center;
  width: 700px;
  min-height: 700px;
  position: absolute;
  transition: left .5s ease-in-out;
}

#resultPic {
  max-width: 100%;
  height: auto;
  max-height: 500px;
}

#userName {
  margin-bottom: 10px;
}

#userPhoto {
  margin-bottom: 10px;
  width: 300px;
}

@media screen and (max-width: 968px) {

  .question-slider, .slide-group {
    width: 100%;
  }
}