h1 {
  color: red;
}

input[type="radio"] {
	opacity: 0;
	width: 0;
  height: 0;
}

input[type="radio"]:active ~ label {
  opacity: 1;
}

input[type="radio"]:checked ~ label {
  opacity: 1;
	border: 1px solid black;
}

.radio-holder {
  display: inline-block;
  font-family: 'Spicy Rice', cursive;
}

.question-slider {
  overflow-x: hidden;
  width: 700px;
  height: 400px;
  position: relative;
}

.question-group {
  /* text-align: center;
  width: 700px;
  height: 400px;
  position: absolute; */
  left: 700px;
  /* transition: left .5s ease-in-out; */
}

.name-email-group {
  left: 0px;
  /* text-align: center;
  width: 700px;
  height: 400px;
  position: absolute;
  transition: left .5s ease-in-out; */
}

.missing {
  border: 1px solid red;
}

.results-group {
  left: 700px;
}
.slide-group {
  text-align: center;
  width: 700px;
  height: 400px;
  position: absolute;
  transition: left .5s ease-in-out;
}