h1 {
  color: red;
}

.question-slider {
  overflow-x: hidden;
  width: 700px;
  height: 400px;
  position: relative;
}

.question-group {
  text-align: center;
  width: 700px;
  height: 400px;
  position: absolute;
  left: 700px;
  transition: left .5s ease-in-out;
}

.name-email-group {
  left: 0px;
  text-align: center;
  width: 700px;
  height: 400px;
  position: absolute;
  transition: left .5s ease-in-out;
}

.missing {
  border: 1px solid red;
}
